---
layout: minimal
---

<div>
  <br>
  <br>

</div>


{% include me.html %}

<div class="wrapper">

  <div class="home">
    <div id="maincontent" style=" display:none;">
     {% include maincontent.html %}
    </div>


    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
