<div class="outer-wrapper"
  <div class='container-fluid bg-bs-4 text-center'>
    <div class="headline-1 text-center">



          <h2>Willkommen!</h2>
    </div>


    <div class="bg-5-1">
            <img src='/images/acidial.jpg' class="float-left">
    </div>
    <div class="bg-5-2">
            <img src='/images/20170820_200701.jpg' class="float-right">
    </div>
  </div>
</div>




<div class="container-fluid bg-bs-4 text-center" content="width=device-width, initial-scale=1">
  <h3></h3>
  <p>"Alles was wir sagen ist gebt Frieden eine Chance."</p>
  <br>
  <p>~John Lenon</p>
</div>





<div class="container-fluid bg-bs-3 text-center" content="width=device-width, initial-scale=1">
  <a href="https://github.com/lbvd/"><h2>My GitHub</h2></a>
</div>



<div class="container-fluid bg-bs-4 text-center" content="width=device-width, initial-scale=1">
  <h3> Dies ist eine private Website </h3>
</div>

<div class="container-fluid bg-bs-1 text-center" content="width=device-width, initial-scale=1">
  <h3></h3>
  <p>"Zwei Dinge sind unendlich, das Universum und die menschliche Dummheit, aber bei dem Universum bin ich mir noch nicht ganz sicher."</p>
  <br>
  <p>~Albert Einstein</p>
</div>

<div class="container-fluid bg-bs-3 text-center" content="width=device-width, initial-scale=1">
  <h3></h3>
  <p>"You have to go on and be crazy. Craziness is like heaven."</p>
  <br>
  <p>~Jimi Hendrix</p>
</div>

<div class="container-fluid bg-bs-4 text-center btn-lg" content="width=device-width, initial-scale=1">
  <h3> Meine Pläne </h3>
  <br>
  <br>

  <button type="button" class="btn btn-info">Info</button>

</div>
