

<div class="container-fluid bg-bs-2 text-center" >
  <h3>PEACE and FLOWERS</h3>

  <img src="/images/me.jpg" class="img-propotions mx-auto d-block " alt="Bild">

  <h3>Willkommen auf meiner Website</h3>
</div>

<div class="container-fluid bg-bs-4 text-center" content="width=device-width, initial-scale=1">
  <h3></h3>
  <p>"Alles was wir sagen ist gebt Frieden eine Chance."</p>
  <br>
  <p>~John Lenon</p>
</div>





<div class="container-fluid bg-bs-3 text-center" content="width=device-width, initial-scale=1">
  <a href="https://github.com/lbvd/"><h2>My GitHub</h2></a>
</div>



<div class="container-fluid bg-bs-4 text-center" content="width=device-width, initial-scale=1">
  <a href="https://www.ebay-kleinanzeigen.de/s-anzeige/jacket-benvenuto-edel-fuer-jugendliche-events-konfirmation-etc/1523902075-160-8214"><h2>Ebay Kleinanzeigen</h2></a>
</div>

<div class="container-fluid bg-bs-1 text-center" content="width=device-width, initial-scale=1">
  <h3></h3>
  <p>"Zwei Dinge sind unendlich, das Universum und die menschliche Dummheit, aber bei dem Universum bin ich mir noch nicht ganz sicher."</p>
  <br>
  <p>~Albert Einstein</p>
</div>

<div class="container-fluid bg-bs-3 text-center" content="width=device-width, initial-scale=1">
  <h3></h3>
  <p>"You have to go on and be crazy. Craziness is like heaven."</p>
  <br>
  <p>~Jimi Hendrix</p>
</div>

<div class="container-fluid bg-bs-4 text-center btn-lg" content="width=device-width, initial-scale=1">
  <h3> Meine Pläne </h3>
  <br>
  <br>

  <button type="button" class="btn btn-info">Info</button>

</div>
