
<div class="image1-text">
</div>
<div class="title-text">
   <h1>
     welcome to my personal website
   </h1>
   <br>
   <p>
     On this website you will find links to my various projects. If you want to know more about me read my about page.
   </p>
   <br>
</div>
<div class="image1-text">
</div>
<br>
<br>
<h2> Check out this project! </h2>
<br>
<div class="image2-text">
  <img src="/images/pl1.jpg" alt="image" href="https://www.pb-ld.org">
  <div class="overlay-t">
    <div class="text-t"> This is a link to a project </div>
  </div>
</div>
