/**
 * Site header
 */
.site-header {
    border-top: 6px solid $grey-color-dark;
    border-bottom: 4px solid $grey-color-dark;
    background-color: #bbbbbb;
    min-height: 75px;
    transition: 600ms ease;

    // Positioning context for the mobile navigation icon
    position: relative;
    border-radius: 20%;
    &:hover{
      border-bottom: 9px solid $grey-color-dark;
      border-radius: 50%;
      min-height: 80px;
      //background-image: url(/images/header-bg.png);
      background-color: #FFFFFF;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one

        &:not(last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }
}
}

.trigger {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  li {
    float: left;
  }

  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

}



/**
 * Site footer
 */
.site-footer {
    border-top: 5px solid $grey-color-light;
    padding: $spacing-unit 0;
    border-radius: 20%;
    min-height: 20px;
    transition: ease 1000ms;
    background-image:url('/images/footer-bg.png');
    background-position: center;
    background-attachment: fixed;
    background-size:80%;
    &:hover{
      border: 9px solid $grey-color-dark;
      border-radius: 60%;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-dark;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #444; text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

/* footer navbar */
.navbar { padding: 0; background: #444; backface-visibility: hidden; }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #aaa; }
.navbar-dark .navbar-nav .nav-link:focus { color: #aaa; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: disc;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
//extra classes

.maincontent_header {
  margin: 12px;
  border: 3px solid #444444;
  border-radius: 10%;
  text-align: center;
  text-decoration: underline;
  background-size: auto;
  background-image: url(/images/head-pat.jpg);
  transition: 1000ms all;
  transform: rotate3d();
  transition-delay: 50ms;
  transition-timing-function: cubic-bezier();
  transform-origin: center;
  transition-property: all;

  &:hover {
    border-radius: 0%;
    text-align-last: left;
    text-decoration: none;
  }

}

.maincontent_header_special {
  margin: 12px;
  border: 6px solid #444444;
  border-radius: 0%;
  text-align: center;
  text-decoration: underline;
  background-size: auto;
  background-image: url(/images/head-pat-special.jpg);
  transition: 1000ms all;
  transform: rotate3d();
  transition-delay: 50ms;
  transition-timing-function: cubic-bezier();
  transform-origin: center;
  transition-property: all;

  &:hover {
    border-radius: 10%;

  }

}


.maincontent_body {

    font-size: 20px;


  margin: 30px;
  background-color: #eeeeee;
  border-radius: 4%;
  border-color: #666666;

  &:hover {
    border-radius: 0%;
    background-color: #eef5f5;

  }

}

.maincontent_body-special {

 font-size: 18px;

  border: 3px solid #eeeeee;
  margin: 25px;
  background-color: #FE5959;
  border-radius: 1%;
  border-color: #666666;
  &:hover  {
    border-radius: 5%

  }
}

.impressum {
  margin: 20px;
  min-width: 200px;
  min-height: 300px;
  background-image: url(/images/impressum-bg.png);
  background-position: center;
  background-repeat: space;
  background-attachment: fixed;
  background-size: cover;
  transform-style: preserve-3d;
  transform: rotate(180);
  transition: 1000ms;
  opacity: 5%;
  &:hover {
    border: solid 5px #aaaaaa;
    opacity: 60%;
  }
}

.about {
  margin: 20px;
  min-width: 200px;
  min-height: 200px;
  background-image: url(/images/übermich-bg.jpg);
  background-position: center;
  background-repeat: space;
  background-attachment: fixed;
  background-size: cover;
  transform-style: preserve-3d;
  transform: rotate(180);
  transition: 1000ms;
  opacity: 5%;
  &:hover {
    border: solid 5px #aaaaaa;
    opacity: 90%;
  }
}





/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
